<a href="https://colab.research.google.com/github/HowToOFTutoria/229351-StatDS/blob/main/Copy_of_229351_LAB01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ปฏิบัติการครั้งที่ 1 กระบวนวิชา 229351 Statistical Learning for Data Science

คำชี้แจง

1. ให้เริ่มทำปฏิบัติการจาก colab notebook ที่กำหนดให้ **เมื่อเสร็จแล้วให้ทำการ share** จากนั้นส่ง link มาใน mango canvas

ในขั้นตอนแรก ขอให้ download ไฟล์ที่

http://donlapark.pages.dev/229351/data/housing.csv

In [ ]:
import pandas as pd #dataframes
import numpy as np #matrices
import matplotlib.pyplot as plt #for plotting

%matplotlib inline

!wget http://donlapark.pages.dev/229351/data/housing.csv

housing = pd.read_csv("housing.csv")

housing.head(10)

## Basic data exploration

In [ ]:
housing.shape

In [ ]:
housing.info()

Which variable has missing data?

In [4]:
housing = housing.dropna()

In [ ]:
housing.info()

In [ ]:
housing.describe()

## Exercise 1

1. Download ไฟล์ข้อมูลที่
  http://donlapark.pages.dev/229351/data/Advertising.csv
  ซึ่งเป็นข้อมูลของผลการขายสินค้าอย่างหนึ่ง (Sales) กับการโฆษณาผ่านทาง TV, Radio, Newspaper
2. สร้าง dataframe ชื่อว่า **Ads** โดยใช้ข้อมูลชุดนี้
3. ดูข้อมูล 5 แถวแรกของ `Ads`
4. ตรวจสอบว่ามีข้อมูลที่หายไปหรือไม่
5. แสดงค่าสถิติพรรณนา (Descriptive statistics) ของตัวแปรต่างๆ

In [ ]:
# code here
!wget  http://donlapark.pages.dev/229351/data/Advertising.csv
Ads = pd.read_csv("Advertising.csv")
Ads

In [ ]:
Ads.head(5)

In [ ]:
Ads.info()
tempAds = Ads.dropna()
tempAds.info()

In [ ]:
Ads.describe()

Your answers here:

## Calling, indexing & modifying dataframes

In [ ]:
# calling a column

housing['ocean_proximity']

`ocean_proximity` is categorical. Let's count its values.

In [ ]:
housing["ocean_proximity"].value_counts()

## Basic statistics of a variable

In [ ]:
print("Mean: ",housing["total_rooms"].mean())
print("Standard deviation: ",housing["total_rooms"].std())
print("Maximum: ",housing["total_rooms"].max())
print("Minimum: ",housing["total_rooms"].min())

In [ ]:
housing[["longitude", "latitude", "housing_median_age"]]

In [ ]:
housing.loc[0]

longitude              -122.23
latitude                 37.88
housing_median_age        41.0
total_rooms              880.0
total_bedrooms           129.0
population               322.0
households               126.0
median_income           8.3252
median_house_value    452600.0
ocean_proximity       NEAR BAY
Name: 0, dtype: object

## Extracting a subset of dataframe

In [ ]:
housing.loc[1:3, ["longitude","latitude"]]

In [ ]:
housing.iloc[2:5,:]

## Selecting rows based on conditions

In [ ]:
housing[housing['latitude']>=40]

In [ ]:
housing[(housing['longitude']>-122) & (housing['latitude']>=40)]

## Exercise 2

ในข้อต่อไปนี้ ให้นับแถวและคอลัมน์เริ่มจาก 0
1. แสดงค่าสูงสุดของข้อมูลที่อยู่ในแถวที่ 200-400 ของตัวแปร `total_bedrooms`
2. แสดง 3 คอลัมน์สุดท้ายของพื้นที่ที่มีจำนวนห้องนอน (`total_bedrooms`) มากกว่า 900 ห้อง

In [ ]:
# code here
tOneHouse = housing.iloc[200:400]
tOneHouse["total_bedrooms"].max()

In [ ]:
tTwoHouse = housing[(housing["total_bedrooms"]>900)]
tTwoHouse.iloc[: , -3:]

## Plotting

In [ ]:
housing.hist(bins=20, figsize=(15,15))
plt.show()

In [ ]:
housing.head(3)

In [ ]:
housing.plot.scatter(x="longitude", y="latitude");

In [ ]:
housing.plot.scatter(x="longitude", y="latitude", alpha=0.1)

In [ ]:
corr_matrix = housing.corr()

corr_matrix

### Grouping

พิจารณา Anscombe dataset ข้างล่างนี้

In [25]:
import seaborn as sns

df = sns.load_dataset('anscombe')

In [ ]:
df

In [27]:
groups = df.groupby('dataset')

In [ ]:
groups.get_group('I')

In [ ]:
groups.max()

## Exercise 3

1. คำนวณค่า mean, standard deviation และ correlation matrix ของแต่ละกลุ่ม
2. สร้าง scatter plot ของแต่ละกลุ่มด้วย `groups.plot.scatter(...)`
3. จากข้อ 1 และข้อ 2 จงบอกว่าการศึกษาค่า summary statistics (mean, s.d., correlation) อย่างเดียวเพียงพอกับการศึกษาข้อมูลชุดหนึ่งหรือไม่ เพราะเหตุใด

In [ ]:
groups.mean()

In [ ]:
groups.std()

In [ ]:
groups.corr()

In [ ]:
groups.plot.scatter(x="x",y="y")

summary statistic ไม่เพียงพอต่อการศึกษาช้อมูลชุดหนึ่ง เพราะ stat ที่คำนวณออกมาได้มีค่าตรง หรือใกล้เคียงกันมาก แต่การจัดเรียงจุดข้อมูลในการพลอตไม่มีความใกล้เคียงกันเลย